::selection {
    background:rgba(255, 255, 125, 0.99);
    color:#032764;
}

body {
    transform-origin: top left;
}

.page:nth-child(2n) {
    clear: left;
}
.page {
    float: left;
    margin-bottom: 40px !important;
}
